<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_cf4e8782ed41646a07dc900f73e80ce4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_cf4e8782ed41646a07dc900f73e80ce4" ></div>
        
</body>
<script>
    
    
            var map_cf4e8782ed41646a07dc900f73e80ce4 = L.map(
                "map_cf4e8782ed41646a07dc900f73e80ce4",
                {
                    center: [42.44445, -76.50135],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 15,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_d0cc70da26dfe90f593fd611639c6635 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_d0cc70da26dfe90f593fd611639c6635.addTo(map_cf4e8782ed41646a07dc900f73e80ce4);
        
    
            var marker_e5e937ad28b684e424a7395fedd4db24 = L.marker(
                [42.444, -76.5019],
                {
}
            ).addTo(map_cf4e8782ed41646a07dc900f73e80ce4);
        
    
            var icon_974b48cee6198557ee135d3193ae2043 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "ok",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_176cec0c1c38e261a72c52a62e74b686 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_df3f1811c8affc01c4e3adfb1cf78645 = $(`<div id="html_df3f1811c8affc01c4e3adfb1cf78645" style="width: 100.0%; height: 100.0%;">         <b>Connected:</b> yes<br>         <b>Time:</b> 2025-04-25 08:30:00         </div>`)[0];
                popup_176cec0c1c38e261a72c52a62e74b686.setContent(html_df3f1811c8affc01c4e3adfb1cf78645);
            
        

        marker_e5e937ad28b684e424a7395fedd4db24.bindPopup(popup_176cec0c1c38e261a72c52a62e74b686)
        ;

        
    
    
                marker_e5e937ad28b684e424a7395fedd4db24.setIcon(icon_974b48cee6198557ee135d3193ae2043);
            
    
            var marker_686d4fa61ad7b52b6e3b572addcacb32 = L.marker(
                [42.4455, -76.5033],
                {
}
            ).addTo(map_cf4e8782ed41646a07dc900f73e80ce4);
        
    
            var icon_636bacb320f069e0b59b983f95c9f604 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "remove",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_e0b18dead69601b7ca0fb9f8a9e2e631 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_99e3c0ea1e3154f7109abb0a3f414d54 = $(`<div id="html_99e3c0ea1e3154f7109abb0a3f414d54" style="width: 100.0%; height: 100.0%;">         <b>Connected:</b> no<br>         <b>Time:</b> 2025-04-25 08:31:00         </div>`)[0];
                popup_e0b18dead69601b7ca0fb9f8a9e2e631.setContent(html_99e3c0ea1e3154f7109abb0a3f414d54);
            
        

        marker_686d4fa61ad7b52b6e3b572addcacb32.bindPopup(popup_e0b18dead69601b7ca0fb9f8a9e2e631)
        ;

        
    
    
                marker_686d4fa61ad7b52b6e3b572addcacb32.setIcon(icon_636bacb320f069e0b59b983f95c9f604);
            
    
            var marker_888cd6ea5951799807f6179db5f444ad = L.marker(
                [42.4461, -76.4995],
                {
}
            ).addTo(map_cf4e8782ed41646a07dc900f73e80ce4);
        
    
            var icon_febb1ebecd899224309d9356775b8309 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "ok",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_a1e42cfa78feca613400d80424aa8f55 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_88386c022961adf8a9b87bccb4403a44 = $(`<div id="html_88386c022961adf8a9b87bccb4403a44" style="width: 100.0%; height: 100.0%;">         <b>Connected:</b> yes<br>         <b>Time:</b> 2025-04-25 08:32:00         </div>`)[0];
                popup_a1e42cfa78feca613400d80424aa8f55.setContent(html_88386c022961adf8a9b87bccb4403a44);
            
        

        marker_888cd6ea5951799807f6179db5f444ad.bindPopup(popup_a1e42cfa78feca613400d80424aa8f55)
        ;

        
    
    
                marker_888cd6ea5951799807f6179db5f444ad.setIcon(icon_febb1ebecd899224309d9356775b8309);
            
    
            var marker_bd30d3aa796ea56bd82c5f0daa61afe3 = L.marker(
                [42.4422, -76.5007],
                {
}
            ).addTo(map_cf4e8782ed41646a07dc900f73e80ce4);
        
    
            var icon_4dada98bbf626c4846273431f29db286 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "remove",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_4aff99408454a35c5462d3d4318f85f8 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_e8ffa1362ea7f0ddb0d6278d34e65502 = $(`<div id="html_e8ffa1362ea7f0ddb0d6278d34e65502" style="width: 100.0%; height: 100.0%;">         <b>Connected:</b> no<br>         <b>Time:</b> 2025-04-25 08:33:00         </div>`)[0];
                popup_4aff99408454a35c5462d3d4318f85f8.setContent(html_e8ffa1362ea7f0ddb0d6278d34e65502);
            
        

        marker_bd30d3aa796ea56bd82c5f0daa61afe3.bindPopup(popup_4aff99408454a35c5462d3d4318f85f8)
        ;

        
    
    
                marker_bd30d3aa796ea56bd82c5f0daa61afe3.setIcon(icon_4dada98bbf626c4846273431f29db286);
            
</script>
</html>